body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

header {
    max-height: 5em;
    display: flex;
    padding: 1em;
}

header nav {
    max-height: 5em;
    padding-top: 2.5em;
    margin-left: auto
}

nav a {
    margin-left: 1em;
    text-decoration: none;
    color: white;
}

header img {
    max-width: 5em;
    max-height: 5em;
    border-radius: 50%
}

section {
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
    min-height: 80vh;
}

.black {
    color: black;
}

h1 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
}

.lightgrey {
    margin-top: auto;
    text-align: right;
    color: darkgray;
}

.title {
    border-bottom: 1px solid white;
}

.projectWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    background-image: url("profielfoto.jpg");
    margin-bottom: 1em;
}

h4 {
    margin-top: 0;
}

.projectContainer {
    padding: 1em;
    background-color: rgba(41, 40, 40, 0.8);
}